.head {
	text-indent: 550px;
   	background: #000000 url(brandon-jean-w79UXGGlvhQ-unsplash7.jpg) 50% 100%;
	overflow: hidden;
    	background-size: cover;
    	background-position: 20% 80%;
	opacity: 0.8;
	height: 300px;
	top: 700px;
	width: 100%;
}


.location {
	text-indent: 100px;
	top: 0px;
}


@media only screen and (min-device-width: 1201px) {
   .name {
     text-indent: 22.5%;
	top: 0px;
	font-size: 42px;
	font-family: Papyrus;
	font-stretch: ultra-expanded;
	color: white;
   }
}

@media only screen and (max-device-width: 1200px) {
   .name {
     text-indent: 22.5%;
	top: 0px;
	font-size: 30px;
	font-family: Papyrus;
	font-stretch: ultra-expanded;
	color: white;
   }
}


.tab { 
	text-indent: 15px;
}

.double_tab { 
	text-indent: 30px;
}


.button {
  //background-color: #9ED8E7;
  background-color: #76DDF9;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  width: 24%;
  height: 60px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-style: font-family:cambria;
  float: left;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}



.button:hover {
	opacity: 1;
	text-decoration: none;
}

.button_home {
  //background-color: #9ED8E7;	
  background-color: #76DDF9;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  width: 24%;
  height: 60px;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  font-style: font-family:cambria;
  float: left;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}



.button_home:hover {
	opacity: 1;
    text-decoration: none;
}

.button_research {
  //background-color: #9ED8E7;	
  background-color: #76DDF9;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  width: 24%;
  height: 60px;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  font-style: font-family:cambria;
  float: left;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}



.button_research:hover {
	opacity: 1;
}

.button_teaching {
  //background-color: #9ED8E7;	
  background-color: #76DDF9;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  width: 24%;
  height: 60px;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  font-style: font-family:cambria;
  float: left;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}



.button_teaching:hover {
	opacity: 1;
}

.button_interests {
  //background-color: #9ED8E7;
  background-color: #76DDF9;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  width: 24%;
  height: 60px;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  font-style: font-family:cambria;
  float: left;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

.roundrect {
border-radius: 15px;
}

.button_interests:hover {
	opacity: 1;
}


h2 {
	max-width: 85%;
	margin:0 auto;
	background-color: white;
}


body {
	max-width: 85%;
	margin:0 auto;
	background-color: white;
	padding: 16px 32px;
}



li:not(:last-child) {
    margin-bottom: 5px;
}